@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme{
  --color-text-teally:#008080;
  --breakpoint-medium: 200px;
  --color-maroon: #630000;
  --color-salmon: #D8B6A4;
  --color-offwhite: #EEEBDD;
  --color-darkbrown: #5C4033;
  --color-coffee: #E5AA70;
}

/* *{overflow-x: hidden;} */

html,
body {
  @apply overflow-x-hidden;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  .font-[cursive] {
    font-family: 'Dancing Script', cursive;
  }
}
